
@import "_vars.scss";

Hud {
    color: $foreground;
    font-family: Ubuntu;
    font-size: 16px;
    transition: opacity .15s ease-out;
}

.hidden {
    display: none;
}

.grow {
    flex-grow: 1;
}

button, nav {
    border-radius: $radius;
    padding: $paddingsmall;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    border: 2px solid $lightaccent;
    background-color: transparent;
    transition: all .15s ease-out;
    align-items: center;
    justify-content: center;

    &.filled {
        background-color: $darkbg;
    }

    &:hover, &.active {
        background-color: $lightaccent;
        transform: scale(1.05);
    }
}

button.disabled, nav.disabled {
    opacity: .25;
    cursor: default;
    transition: none;
    border: 2px solid $bg;

    &:hover {
        background-color: transparent;
        transform: scale(1);
    }
}

.container {
    border-radius: $radius;
    padding: $paddingmedium;
    transition: opacity .12s ease-out;
    background-color: rgba( $darkbg .95 );
    background-image: url( ui/border.png );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 101.35%;
    background-tint: $lightaccent;
    flex-direction: column;
    box-shadow: 2px 2px 0px rgba(black .93);
    z-index: $z-chat;

    .heading, heading {
        margin-bottom: 8px;
        background-image: url( ui/border.png );
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-tint: rgba( $lightaccent .35 );
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: $paddingmedium;
        padding-bottom: $paddingmedium;
        border-bottom: 1px solid rgba( $darkaccent .5 );
        flex-shrink: 0;
        color: $foreground-faded;
    }
}

.toolbar {
    flex-direction: row;

    button {
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.columns, columns {
    flex-grow: 1;

    .column, column {
        flex-grow: 1;
        flex-direction: column;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &.4 {
            flex-grow: 0;
            width: 33.3333%;
        }

        &.6 {
            flex-grow: 0;
            width: 50%;
        }
    }
}

HudTimer {
    position: absolute;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 1px black;

    .inner {

        .row {
            width: 100%;
            justify-content: center;

            .diff {
                position: absolute;
                left: 100%;
                color: $green;

                &.red {
                    color: $red;
                }
            }
        }

        position: absolute;
        bottom: 175px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        min-width: 200px;
        align-items: center;
        border-radius: $smallradius;
        flex-direction: column;
        background-image: url( ui/border.png );
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-tint: rgba( white .25 );
        font-weight: heavy;
    }
}

HudMovement {
    position: absolute;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 1px black;
    opacity: 0;

    .inner {
        .down {
            justify-content: center;

            .arrow {
                position: absolute;
                color: $green;
                transform: translate(-50% -50%);
                width: 40px;
                background-size: cover;
                aspect-ratio: 1;
                background-image: url("ui/movementhint.png");
            }

            .jump {
                position: absolute;
                color: $green;
                transform: translate(-50% -50%);
                width: 40px;
                background-size: cover;
                aspect-ratio: 1;
                background-image: url("ui/movementhint-jump.png");
            }
        }

        .up {
            opacity: 0;
            position: absolute;
        }

        position: absolute;
        left: 50%;
        top: 90%;
    }

    &.active {
        opacity: 1;
    }
}

Crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    width: 8px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(white .5);
}

Chatbox {
    position: absolute;
    width: 550px;
    height: 325px;
    left: 170px;
    bottom: 175px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: $largeradius;
    z-index: $z-chat;

    &.open {
        pointer-events: all;
        background-color: rgba( $darkbg .5 );

        .input {
            opacity: 1;
            transition: all .15s ease-out;
            transform: scale(1.05);

            &:hover {
                background-color: $bg;
            }
        }

        .chat-entry {
            opacity: 1;
        }
    }

    .messages {
        flex-direction: column;
        overflow: scroll;
        margin-bottom: 10px;
    }

    .input {
        align-items: center;
        background-color: $darkbg;
        border-radius: $smallradius;
        opacity: 0;
        flex-shrink: 0;

        textentry {
            align-items: center;
            flex-grow: 1;
            padding: 8px;
            cursor: text;
            background-image: url( ui/border.png );
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 99%;
            background-tint: $lightaccent;
        }
    }
}

.chat-entry {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 2px;
    text-shadow: 1px 1px 0 black;
    align-items: center;
    font-weight: 600;
    transition: all .15s ease-out;
    align-items: flex-start;

    &.faded {
        opacity: 0;
    }

    &.connect {
        font-style: italic;
        color: rgba(white .8);
    }

    &.important {
        color: $orange;
        font-weight: heavy;
    }

    &.timer {
        .name {
            color: $orange;
        }

        color: rgba(white .8);
    }

    &.shop {
        .name {
            color: yellow;
        }
    }

    .name {
        margin-right: 4px;
        font-weight: 800;
        color: $lightaccent;
        cursor: text;
        flex-shrink: 0;
    }

    .message {
        cursor: text;
    }

    &.bold {
        .message {
            font-weight: 800;
        }
    }

    &.purple {
        .message {
            color: $purple;
        }
    }
}

HudStatus {
    width: 100%;
    height: 100%;
    position: absolute;

    &.connected .api {
        display: none;
    }

    .map {
        display: none;
    }

    &.preview .map {
        display: flex;

        .dot {
            background-color: $orange;
        }
    }

    .inner {
        position: absolute;
        left: 175px;
        bottom: 128px;
    }

    .status {
        align-items: center;
        padding: 4px 8px;
        background-color: rgba( $bg .5 );
        margin-right: 4px;

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background-color: #ff0000;
            margin-right: 5px;
        }
    }

    &.connected .api-status .dot {
        background-color: #00ff90;
    }
}

HudSlotMenu {
    position: absolute;
    padding: 15px;
    background-color: rgba($darkbg .25);
    border-radius: $radius;
    top: 40%;
    left: 100px;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
    opacity: 1;
    transform: scale(1);
    transition: opacity .15s ease-in;
    transition: transform .8s bounce-out;

    &:intro {
        opacity: 0;
        transform: scale(0);
    }

    &:outro {
        opacity: 0;
        transform: scale(0);
    }

    .title {
        font-weight: heavy;
        margin-bottom: 10px;
        color: $orange;
    }

    .duration {
        position: absolute;
        left: -14px;
        top: -14px;
        border-radius: 50%;
        background-color: $darkbg;
        width: 28px;
        height: 28px;
        align-items: center;
        text-align: center;
    }

    .options {
        flex-direction: column;
        padding-left: 10px;

        .active {
            color: $lightaccent;
        }
    }
}

TabMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .15s ease-out;
    z-index: $z-menu;
    align-items: center;
    justify-content: center;
    background-color: rgba( black .15 );
    backdrop-filter: blur(2px);

    .navbar {
        width: 65%;
        margin-bottom: 20px;
        margin-top: -20px;

        button, nav {
            margin-right: 4px;
            border-color: transparent;
            border-radius: 0;
            font-size: 18px;
            text-transform: uppercase;
            padding: 8px 12px;

            &:hover, &.active {
                transform: scale(1.03);
                background-color: $darkaccent;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .container {
            flex-direction: row;
            padding: 0;
        }
    }

    .content {
        width: 65%;
        height: 50%;
    }

    &.open {
        opacity: 1;
    }

    &.cursor {
        pointer-events: all;
    }
}

StrafeScoreboard {
    PlayerList, ReplayList {
        flex-direction: column;
    }

    PlayerListEntry, ReplayListEntry {
        padding: $paddingsmall;
        justify-content: space-between;
        transition: all .1s ease-out;
        border-radius: $radius;
        cursor: pointer;

        &.active {
            border: 2px solid $orange;
            transform: scale(1.02);
        }

        .name {
            color: $darkaccent;
            font-weight: 800;
        }

        .credits {
            max-width: 75px;
            flex-grow: 0;
            font-size: 13px;
            margin-left: 10px;
        }

        &:hover:not(.active) {
            background-color: $darkaccent;
            text-shadow: 1px 1px 2px black;
            transform: scale(1.02);
            box-shadow: 3px 3px 0px black;

            .name {
                color: white;
            }
        }
    }

    ReplayListEntry .name {
        color: $orange;
    }
}

StrafeLeaderboard {

    .entries {
        flex-direction: column;
        text-shadow: 1px 1px 0px black;
        font-weight: 600;
        overflow: scroll;
    }

    StrafeLeaderboardEntry {
        justify-content: space-between;
        flex-shrink: 0;

        .rank {
            color: $orange;
            font-weight: heavy;
            text-align: center;
            margin-right: 10px;
            min-width: 25px;
        }
    }
}

CreditsLeaderboard {
    height: 50%;

    .entries {
        flex-direction: column;
        overflow: scroll;

        .row {
            justify-content: space-between;
            flex-shrink: 0;
        }
    }
}

SpectatorList {
    position: absolute;
    right: 64px;
    top: 40%;
    opacity: 0;
    flex-direction: column;

    &.open {
        opacity: 1;
    }

    .entries {
        flex-direction: column;
        padding: 4px 8px;
        text-align: center;
    }
}

Nametag {
    font-family: Ubuntu;
    font-size: 32px;
    color: white;
    align-items: center;
    justify-content: center;
    text-stroke: 9px black;
    text-shadow: 2px 2px 2px black;
    font-weight: 800;
    opacity: 0;
    transition: opacity .15s ease-out;

    &.open {
        opacity: 1;
    }
}

InfoTab {
    label2 {
        justify-content: space-between;
        padding: 8px;
        background-color: rgba(black .25);
        border-radius: $radius;
        margin-bottom: 1px;
        transition: all .15s ease-out;

        &:hover {
            background-color: rgba(black .45);
            transform: scale(1.03);
            margin: 2px 0;
        }

        :first-child {
            font-weight: heavy;
            color: $orange;
            min-width: 200px;
        }

        :last-child {
            color: $foreground-faded;
            text-align: right;
        }
    }

    .chat-commands label2 {
        cursor: pointer;
    }
}

MapList {
    flex-direction: column;
    overflow: scroll;

    MapListEntry {
        flex-shrink: 0;
        padding: 15px;
        border-radius: $radius;
        background-color: rgba(black 0);
        transition: all .15s ease-out;

        &:hover, &.nominated {
            background-color: rgba( black .25 );

            .thumbnail {
                transform: scale(1.15) translateX(-10px);
            }
        }

        &.nominated {
            background-color: rgba( $darkaccent .01 );

            button {
                background-color: $lightaccent;
                transform: scale(1.05);
            }
        }

        .thumbnail {
            min-width: 125px;
            max-width: 125px;
            height: 125px;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 10px;
            box-shadow: 2px 2px 20px rgba(black .25);
            margin-right: 20px;
            transition: transform .15s ease-out;
        }

        .text {
            flex-direction: column;
            flex-grow: 1;
            margin-right: 150px;

            .title {
                font-size: 20px;
                margin-bottom: 8px;
            }

            .description {
                color: $foreground-faded;
            }
        }

        .buttons {
            min-width: 125px;

            button {
                flex-grow: 1;
            }
        }
    }
}

VoiceChatList {
    position: absolute;
    bottom: 200px;
    right: 64px;
    width: 300px;
    padding: 5px;
    padding-bottom: 0px;
    font-family: Ubuntu;
    font-size: 16px;
    flex-direction: row-reverse;

    VoiceChatEntry {
        flex-direction: row;
        padding: 6px;
        margin-bottom: 5px;
        align-items: center;
        align-content: center;
        overflow: hidden;
        transition: all 0.1s ease-out;
        background-color: rgba( $darkbg .65 );
        border-radius: $radius;
        border-bottom: 1px solid rgba( $darkaccent .5 );

        &:intro {
            opacity: 0;
            margin-left: 20px;
        }

        &:outro {
            opacity: 0;
            margin-left: 20px;
            transition: all 0.1s ease-out;
        }

        .avatar {
            width: 32px;
            aspect-ratio: 1;
        }

        .name {
            padding-right: 20px;
            text-shadow: 1px 1px 1px black;
        }
    }
}

.stylelist {
    flex-direction: column;

    button {
        margin-bottom: 8px;
        justify-content: flex-start;
        font-size: 20px;
        border: 0;

        &:hover, &.active {
            transform: scale(1);
            background-color: $orange;
        }
    }
}
