@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace Jigsaw

@inherits Panel

<style>

	.container {
		width: 100%;
		height: 100%;
		z-index: 100;
		align-self:center;
	}

	timer {

		align-items: center;
		border-radius: 40px color: white;
		font-family: Poppins;
		font-weight: 600;
		width: 130px;
		height: 60px;
		margin-top: 25px;
		margin-left: 25px;
		background-color: rgba(black, 0.5);
		backdrop-filter: blur( 5px );

		opacity: 1;

		font-size: 30px;
		color: white;
		font-family: Poppins;
		font-weight: 600;

		justify-content: center;
		text-align: center;

		text-stroke: 5px black;

	}
</style>


<root>
	@if (Visible)
	{
		<div class="container">
			<timer>
				@Timer
			</timer>
		</div>

	}
</root>

@code {
	public static VotingTimer Current { get; set; }

	public string Timer { get; set; } = "0.0";
	public bool Visible = false;

	[ClientRpc]
	public static void SetTimer(float t)
	{
		t = (t < 0) ? 0 : t;
		Current.Timer = t.ToString("0");
	}

	public VotingTimer()
	{
		Current = this;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Timer, Visible);
	}

}
